
<section class="mainsection">
	<div class="container-fluid">
		<div class="row">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="assets/img/slider_infikey_1.jpg" class="imageslider img-responsive">
						<div class="carousel-caption">
							<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
								<h2>
									Launching Business Plan Services
								</h2>
								<h4>
									Showcase the potential of your business for investors and partners
								</h4>
								<h4>
									Get Started For Just
									<br><br>
									<span>₹</span>22,499 All-Inclusive
								</h4>
								<h4>
									<strong>Price may vary on annual Turnover</strong>
								</h4>
								<a href="#" class="btn btn-lg buttoncustom" role="button">Get Started</a>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="assets/img/slider_infikey_2.jpg" class="imageslider img-responsive">
						<div class="carousel-caption">
							<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
								<h2>
									Company Registration
								</h2>
								<h4>
									Get your venture off the ground without leaving home.
								</h4>
								<h4>
									Get Started For Just
									<br><br>
									<span>₹</span>6,999 (govt. fees on actuals)
								</h4>
								<h4>
									<strong>Easy monthly EMI options available</strong>
								</h4>
								<a href="#" class="btn btn-lg buttoncustom" role="button">Get Started</a>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="assets/img/slider_infikey_3.jpg" class="imageslider img-responsive">
						<div class="carousel-caption">
							<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
								<h2>
									Trademark Registration
								</h2>
								<h4>
									Your customers recognise you by your brand. Register it today.
								</h4>
								<h4>
									Get Started For Just
									<br><br>
									<span>₹</span>6,289 all-inclusive
								</h4>
								<h4>
									<strong>Easy monthly EMI options available</strong>
								</h4>
								<a href="#" class="btn btn-lg buttoncustom" role="button">Get Started</a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>
<section class="tabsection">
	<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center">
		<ul ng-init="tab=1" class="biztab">
			<li ng-class="{active:tab===1}" class="col-xs-12 col-md-2 col-sm-2 col-lg-2 text-center biztabelement">
				<a href ng-click="tab = 1">Start a<br> Business</a>
			</li>
			<li ng-class="{active:tab===2}" class="col-xs-12 col-md-2 col-sm-2 col-lg-2 text-center biztabelement">
				<a href ng-click="tab = 2">Tax <br>Registration</a>
			</li>
			<li ng-class="{active:tab===3}" class="col-xs-12 col-md-2 col-sm-2 col-lg-2 text-center biztabelement">
				<a href ng-click="tab=3">Trademark & Copyright</a>
			</li>
			<li ng-class="{active:tab===4}" class="col-xs-12 col-md-2 col-sm-2 col-lg-2 text-center biztabelement">
				<a href ng-click="tab=4">Legal Documentation</a>
			</li>
			<li ng-class="{active:tab===5}" class="col-xs-12 col-md-2 col-sm-2 col-lg-2 text-center biztabelement">
				<a href ng-click="tab=5">Mandatory Compliance</a>
			</li>

		</ul>
	</div>
	<div class="container">
		<div class="col-md-12  col-xs-12 col-sm-12 col-lg-12" ng-show="tab === 1">
			<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
				<h4 class="text-center">
					<strong >Private Limited Company</strong>
				</h4>
				<h4 class="text-center">
					<strong><span>₹</span>6,999</strong>
					<span>(Govt. fees on actuals)</span>
				</h4>
				<hr class="text-center">
				<p>
					The default option for start-ups/growing businesses as only private limited companies can raise venture capital.
				</p>
				<p class="text-center">
					<a href="#" class="btn btn-md knowmorebtn">Know More</a>
				</p>
			</div>
			<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
				<h4 class="text-center">
					<strong class="text-center">Limited Liability Partnership</strong>
				</h4>
				<h4 class="text-center">
					<strong><span>₹</span>5,999</strong>
					<span>(Govt. fees on actuals)</span>
				</h4>
				<hr class="text-center">
				<p>
					The perfect structure for professional services firms such as financial advisories and ad agencies.
				</p>
				<br>
				<p class="text-center">
					<a href="#" class="btn btn-md knowmorebtn">Know More</a>
				</p>
			</div>
			<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
				<h4 class="text-center">
					<strong class="text-center">One Person Company</strong>
				</h4>
				<h4 class="text-center">
					<strong><span>₹</span>4,999</strong>
					<span>(Govt. fees on actuals)</span>
				</h4>
				<hr class="text-center">
				<p>
					The best structure for solo entrepreneurs looking beyond the opportunities a sole proprietorship affords.
				</p>
				<p class="text-center">
					<a href="#" class="btn btn-md knowmorebtn">Know More</a>
				</p>
			</div>
		</div>

		<div class="col-md-12  col-xs-12 col-sm-12 col-lg-12" ng-show="tab===2">
			<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
				<h4 class="text-center">
					<strong class="text-center">VAT Registration</strong>
				</h4>
				<h4 class="text-center">
					<strong><span>₹</span>8790</strong>
					<span>onwards</span>
				</h4>
				<hr class="text-center">
				<p>
					Often known as TIN Number,
					it is mandatory for any manufacturing or trading business with a turnover
					of over Rs. 5 lakh.
				</p>
				<p class="text-center">
					<a href="#" class="btn btn-md knowmorebtn">Know More</a>
				</p>
			</div>
			<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
				<h4 class="text-center">
					<strong class="text-center">Service Tax
						Registration</strong>
					</h4>
					<h4 class="text-center"> 
						<strong><span>₹</span>5290</strong>
						<span>onwards</span>
					</h4>
					<hr class="text-center">
					<p>
						To pay this tax, the service provider must be registered with the Central Government if the preceding fiscal year's turnover is over Rs. 9 lakh.
					</p>
					<p class="text-center">
						<a href="#" class="btn btn-md knowmorebtn">Know More</a>
					</p>
				</div>
				<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
					<h4 class="text-center">
						<strong class="text-center">SSI
							Registration</strong>
						</h4>
						<h4 class="text-center">
							<strong><span>₹</span>2145</strong>
							<span>onwards</span>
						</h4>
						<hr class="text-center">
						<p>
							As a small enterprise, you can have access to priority sector lending, tax exemptions & capital investment and power tariff subsidies.
						</p>
						<p class="text-center">
							<a href="#" class="btn btn-md knowmorebtn">Know More</a>
						</p>
					</div>
				</div>
				<div class="col-md-12  col-xs-12 col-sm-12 col-lg-12" ng-show="tab === 3">
					<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
						<h4 class="text-center">
							<strong class="text-center">Trademark Registration</strong>
						</h4>
						<h4 class="text-center">
							<strong><span>₹</span>6289</strong>
							<span>All-Inclusive</span>
						</h4>
						<hr class="text-center">
						<p>
							Protect your brand, slogan or logo. Begin now and use the trademark symbol beside your name in three working days.
						</p>
						<p class="text-center">
							<a href="#" class="btn btn-md knowmorebtn">Know More</a>
						</p>
					</div>
					<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
						<h4 class="text-center">
							<strong >Copyright Registration</strong>
						</h4>
						<h4 class="text-center">
							<strong><span>₹</span>3362</strong>
							<span>Onwards</span>
						</h4>
						<hr class="text-center">
						<p>
							A registration confers upon its owner sole rights to copy or reproduce the work or grant permission to another to do so.
						</p>
						<p class="text-center">
							<a href="#" class="btn btn-md knowmorebtn">Know More</a>
						</p>
					</div>
					<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
						<h4 class="text-center">
							<strong >Patent Search</strong>
						</h4>
						<h4 class="text-center">
							<strong><span>₹</span>8863</strong>
							<span>All-Inclusive</span>
						</h4>
						<hr class="text-center">
						<p>
							Conduct a rigorous check to know if your product or design is likely to be granted a patent. All at the lowest price in India.

						</p>
						<p class="text-center">
							<a href="#" class="btn btn-md knowmorebtn">Know More</a>
							<p class="text-center">

							</div>
						</div>
						<div class="col-md-12  col-xs-12 col-sm-12 col-lg-12" ng-show="tab === 4">
							<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
								<h4 class="text-center">
									<strong>Terms of Service</strong>
								</h4>
								<h4 class="text-center">
									<strong><span>₹</span>3499</strong>
									<span>Onwards </span>
								</h4>
								<hr class="text-center">
								<p>
									The terms are conditions on which service is being delivered, while the privacy policy explains to users what will/not be done with their information.
								</p>
								<p class="text-center">
									<a href="#" class="btn btn-md knowmorebtn">Know More</a>
								</p>
							</div>
							<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
								<h4 class="text-center">
									<strong>Founders' Agreement</strong>
								</h4>
								<h4 class="text-center">
									<strong><span>₹</span>4999</strong>
									<span>Onwards </span>
								</h4>
								<hr class="text-center">
								<p>
									An agreement to outline
									all the important aspects of
									the relationship between the founders.
								</p>
								<br>
								<p class="text-center">
									<a href="#" class="btn btn-md knowmorebtn">Know More</a>
								</p>
							</div>
							<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
								<h4 class="text-center">
									<strong>Employment Contract</strong>
								</h4>
								<h4 class="text-center">
									<strong><span>₹</span>1999</strong>
									<span>Onwards </span>
								</h4>
								<hr class="text-center">
								<p>
									An employment contract is necessary when hiring any employee or consultant, whether part-time...
								</p>
								<br>
								<p class="text-center">
									<a href="#" class="btn btn-md knowmorebtn">Know More</a>
								</p>
							</div>
						</div>

						<div class="col-md-12  col-xs-12 col-sm-12 col-lg-12" ng-show="tab === 5">
							<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
								<h4 class="text-center">
									<strong>Annual Compliances</strong>
								</h4>
								<h4 class="text-center">
									<strong><span>₹</span>15,749</strong>
									<span>All-Inclusive</span>
								</h4>
								<hr class="text-center">
								<p>
									Fulfill all the compliance requirements of your private limited company every year
								</p>
								<p class="text-center">
									<a href="#" class="btn btn-md knowmorebtn">Know More</a>
								</p>
							</div>
							<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
								<h4 class="text-center">
									<strong>Close a Company</strong>
								</h4>
								<h4 class="text-center">
									<strong><span>₹</span>4999</strong>
									<span>Onwards</span>
								</h4>
								<hr class="text-center">
								<p>
									A tedious, but very necessary, procedure that can even take over a year to complete.
								</p>
								<p class="text-center">
									<a href="#" class="btn btn-md knowmorebtn">Know More</a>
								</p>
							</div>
							<div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 box box1">
								<h4 class="text-center">
									<strong>ESOP</strong>
								</h4>
								<h4 class="text-center">
									<strong><span>₹</span>49,999</strong>
									<span>All-Inclusive</span>
								</h4>
								<hr class="text-center">
								<p>
									The strongest incentive for your best employees to stay motivated and stick around.
								</p>
								<p class="text-center">
									<a href="#" class="btn btn-md knowmorebtn">Know More</a>
								</p>
							</div>
						</div>
					</div>	
				</section>
				<section class="reasons">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 whyhome">
								<div class="col-md-10 col-sm-10 col-xs-12 col-lg-10 ">
									<p>We are a firm of experts based at Ballari. We have a very high level of client commitment and we believe our clients value and respect that.
									</p>
									<p>
										One of the biggest challenges that startups and SME face is the lack of a guiding force to break these barriers to growth. We believe change need not be a barrier, but can actually be an enabler for growth. Execution is the key to success and we are experts at it.
									</p>
									<p>
										Our goal is serve our clients by giving them the best solutions.
									</p>
									<p>
										Our firm differentiates itself by providing innovative, simple & tailored solutions to its clients, ensuring premium service delivery, value for money, quality and consistency and helps them to grow & develop their businesses.
									</p>
									<p>
										We have a stated policy of ensuring that high quality services are provided to each client.
									</p>
								</div>
							</div>
								<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
									<p>
										<h4 class="underline">Our Motto</h4>
										<strong>If a team has no soul, you’re just wasting your time.</strong>
									</p>
									<p>
										<h4 class="underline">Our Brand Story</h4>
										Our inspiration to build this brand stemmed from the fact that we wish to help enterprises build successful businesses. When we decided to create the brand, few key thoughts took center stage; we wanted it to be simple, highlight the nature of the business we are in and how our customers would perceive us.
									</p>
									<p>
										<h4 class="underline">Our Vision</h4>
										“To assist our customers to increase their operational efficiency and minimize their operational expenses”
									</p>
									<p>
										<h4 class="underline">
											Our Mission
										</h4>
										To render professional services of the highest standard to clients
									</p>
									</div>
								</div>
							</div>
						</section>
						<section class="clientsection">
							<div class="container">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center">
										<h4><p>
											Clients
										</h4></p>
										<hr>
									</div>
									<div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 text-center">
										
										
										<p>
											<img src="assets/img/mtwlogo.png" class="client">
										</p>
									</div>
									<div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 text-center">
										<p>
											<img src="assets/img/cisco.jpg" class="clientfund">
										</p>
									</div>
									<div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 text-center">
										<p>
											<img src="assets/img/google.jpg" class="clientfund">
										</p>
									</div>
								</div>
							</div>
						</section>
