<section style="margin: 50px 0px 0px 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>
					Thanks for your Business
				</h3>
				<p>
					Thank you for choosing Infikey. Our team will be getting in touch with you within 24 hours. Please bear with us!
				</p>
				<!-- <p>
					In other news, we are now the official partners of the Confederation of Indian Industry and have now helped more than 200,000 users (and counting!)
				</p> -->
				<p>
					We respect and value your business.
				</p>
			</div>
		</div>
	</div>
</section>